/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/styles/Contact.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Contact_main__qEv0Q {
  width: 100%;
  max-width: 720px;
  padding: 1rem 0;
  margin: 0 auto;
}

.Contact_main__qEv0Q h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.Contact_main__qEv0Q h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

@media (max-width: 768px) {
  .Contact_main__qEv0Q {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .Contact_main__qEv0Q h1 {
    font-size: 2rem;
  }
}

