/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Intro/Intro.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Intro_wrap__ovgfS {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .Intro_wrap__ovgfS {
    flex-direction: column;
  }
}

.Intro_greeting__ec_qF {
  width: 100%;
}

.Intro_greeting__ec_qF h1 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

.Intro_greeting__ec_qF h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

.Intro_portrait__omMqs {
  vertical-align: middle;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-size: cover;
  background-position-y: center;
}

.Intro_socials__6RI3P {
  width: 100%;
}

.Intro_socials__6RI3P a {
  color: var(--text-primary-color);
  transition: color 0.15s ease;
  margin-right: 1rem;
}

.Intro_socials__6RI3P a:last-child {
  margin-right: 0;
}

.Intro_socials__6RI3P a:active,
.Intro_socials__6RI3P a:hover {
  color: rgba(0, 124, 240, 1);
}

