/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Contact/Contact.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Contact_email__K_qq2 {
  font-weight: 900;
  font-size: 1.125rem;
  margin: 2rem 0;
}

