/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Section/styles.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.styles_section__Czf4M {
  max-width: 720px;
  margin-top: 2rem;
  width: 100%;
}

.styles_section__Czf4M.styles_fluid__93MDJ {
  max-width: initial;
  width: 100%;
}

.styles_section__Czf4M h3 {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .styles_section__Czf4M h3 {
    font-size: 1.5rem;
  }
}

