/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/styles/Expertise.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Expertise_main__5uFKM {
  width: 100%;
  max-width: 720px;
  padding: 1rem 0;
  margin: 0 auto;
}

.Expertise_main__5uFKM h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.Expertise_main__5uFKM h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

@media (max-width: 768px) {
  .Expertise_main__5uFKM {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .Expertise_main__5uFKM h1 {
    font-size: 2rem;
  }
}

.Expertise_tags__QlLWl {
  display: flex;
  flex-flow: wrap;
  gap: 0.25rem;
}

@media (max-width: 576px) {
  .Expertise_tags__QlLWl {
    margin-top: 1rem;
  }
}

.Expertise_tag__QvsYe {
  background: var(--background-paper-color);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 2rem;
}

.Expertise_link__Rck8D {
  width: 100%;
  margin-top: 1rem;
}

.Expertise_project__BqVgx {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 720px;
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .Expertise_project__BqVgx {
    flex-direction: column-reverse;
  }
}

.Expertise_projectDescription__EAaEU {
  flex-basis: 60%;
}

.Expertise_projectDescription__EAaEU h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.Expertise_imageContainer___O_XF {
  flex-basis: 40%;
}

.Expertise_image__13PTc {
  width: 100%;
  max-width: 22rem;
  position: relative;
  margin: 0 auto 1rem;
}

.Expertise_image__13PTc img {
  margin-top: 1rem;
  width: 100%;
  border-radius: 1rem;
  transform: translate(-1rem, 0rem);
  filter: brightness(0.9);
}

.dark .Expertise_image__13PTc img {
  filter: initial;
}

.Expertise_image__13PTc .Expertise_imageShadow__tqyCR {
  margin-top: 1rem;
  width: 100%;
  height: calc(100% - 1rem);
  border: 4px solid rgba(0, 112, 243, 1);
  position: absolute;
  border-radius: 1rem;
  top: 0;
  z-index: -1;
  transform: translate(0rem, 1rem);
  transition: transform 0.15s ease;
}

.Expertise_image__13PTc:active .Expertise_imageShadow__tqyCR,
.Expertise_image__13PTc:focus .Expertise_imageShadow__tqyCR,
.Expertise_image__13PTc:hover .Expertise_imageShadow__tqyCR {
  transform: translate(-0.25rem, 0.5rem);
}

@media (max-width: 768px) {
  .Expertise_image__13PTc img {
    transform: translate(-0.5rem, 0rem);
  }

  .Expertise_image__13PTc .Expertise_imageShadow__tqyCR {
    transform: translate(0.5rem, 1rem);
  }

  .Expertise_image__13PTc:active .Expertise_imageShadow__tqyCR,
  .Expertise_image__13PTc:focus .Expertise_imageShadow__tqyCR,
  .Expertise_image__13PTc:hover .Expertise_imageShadow__tqyCR {
    transform: translate(0.25rem, 0.5rem);
  }
}

.Expertise_cfa__MdXeE {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--text-primary-color);
  color: var(--text-primary-color);
  text-decoration: none;
  transition: color 0.15s ease, background-color 0.15s ease, border 0.15s ease;
}

.Expertise_cfa__MdXeE:active,
.Expertise_cfa__MdXeE:focus,
.Expertise_cfa__MdXeE:hover {
  border: 2px solid rgba(0, 124, 240, 1);
  color: rgba(0, 124, 240, 1);
  background-color: rgba(0, 124, 240, 0.25);
}

.Expertise_repos__nUL44 {
  margin-top: 2rem;
}

