/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/DarkmodeSwitch/DarkmodeSwitch.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.DarkmodeSwitch_container___WboH {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.DarkmodeSwitch_container___WboH > *:not(:last-child) {
  margin-right: 1rem;
}

.DarkmodeSwitch_wrap__GMfLS {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.DarkmodeSwitch_button__VaTZw {
  width: 1.5rem;
  height: 1.5rem;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Link/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.styles_anchor__D8lEF {
  color: inherit;
  text-decoration: underline;
  transition: color 0.15s ease;
}

.styles_anchor__D8lEF:focus,
.styles_anchor__D8lEF:hover,
.styles_anchor__D8lEF:active {
  color: rgba(0, 124, 240, 1);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Nav/Nav.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Nav_sidebar__hyNTX {
  height: 0;
  width: 100%;
}
.Nav_overlay__lpLQD {
  position: fixed; 
  z-index: 1000; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s; 
  transform: translate3d(100%, 0px, 0px);
}
.Nav_overlay__lpLQD.Nav_open__O0eqz {
  opacity: 1; 
  transition: opacity 0.3s ease 0s;
  transform: unset;
}

.Nav_burger__qiwwO {
  z-index: 1000;
  position: fixed;
  height: 32px;
  left: 16px;
  top: 16px;
  width: 32px;
}

.Nav_burger__qiwwO > button, .Nav_cross__0acOT > button {
  position:absolute;
  left:0;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  border:none;
  font-size:0;
  background:transparent;
  cursor:pointer;
}

.Nav_burger__qiwwO > svg, .Nav_cross__0acOT > svg {
  width: 32px;
  height: 32px;
  line-height: 24px;
}

.Nav_menuWrap__uhfZc {
  position: fixed; 
  right: inherit; 
  z-index: 1100; 
  width: 100%; 
  height: 100%; 
  transition: all 0.5s ease 0s;
  transform: translate3d(-100%, 0px, 0px);
}

.Nav_menuWrap__uhfZc.Nav_open__O0eqz {
  transform: unset;
}

.Nav_menuWrap__uhfZc.Nav_dark__101oq {
  background: rgb(0, 0, 0);
}

.Nav_menuWrap__uhfZc.Nav_light__fqA8I {
  background: rgb(255 ,255 ,255);
}

.Nav_menu__Bl1sk {
  height:100%;
  box-sizing:border-box;
  overflow:auto;
  padding: 4rem 1.5rem 2rem;
}

.Nav_menu__Bl1sk > nav {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 360px;
  line-height: 24px;
  text-size-adjust: 100%;
}

.Nav_link__pcNNt {
  margin-bottom: 1rem;
  text-decoration: none;
}

.Nav_link__pcNNt > button {
  font-size: 2rem;
}

.Nav_cross__0acOT {
  position: absolute;
  right: 12px;
  top: 12px;
  box-sizing: border-box;
}

.Nav_button__q7D2t {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: initial;
  border: initial;
  padding: initial;
  text-align: initial;
  font-size: initial;
  font-family: unset;
  color: var(--text-primary-color);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Nav_iconLink__iunkO > * {
  vertical-align: middle;
}

.Nav_iconLink__iunkO > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.Nav_profile__dkiwU {
  display: flex;
  margin-bottom: 1rem;
}

.Nav_divider__DLT3x {
  display: block;
  height: 1px;
  background-color: var(--divider-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Nav_profile__dkiwU > *:not(:last-child) {
  margin-right: 1rem;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/Menubar/Menubar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Menubar_menubar__nIeqd {
  display: flex;
  width: 100%;
  padding: 1.2rem 1rem;
  justify-content: flex-end;
  align-items: center;
}

.Menubar_menubar__nIeqd > * {
  cursor: pointer;
}

.Menubar_menubar__nIeqd > *:not(:last-child) {
  margin-right: 1rem;
}

.Menubar_menubar__nIeqd a > * {
  vertical-align: middle;
}

.Menubar_menubar__nIeqd > .Menubar_hireMe__YKDgx {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  letter-spacing: normal;
}

.Menubar_menubar__nIeqd > .Menubar_hireMe__YKDgx > svg {
  transform: scale(-1, 1);
}

